body {
    background-color: #201b2c;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

form {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0;
}